* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #0d1117;
  --assistant-color: #161b22;
  --input-font-color: #c2c3c5;
  --border-color: #30363d;
}
body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 2rem;
  background-color: #2b2853;
  height: calc(100vh -50px);

  background-color: red;
  background-image: linear-gradient(
    to right,
    rgb(9, 7, 97),
    #ccb09b,
    rgb(128, 128, 64),
    rgb(52, 197, 52)
  );
}

.user-form {
  background-color: #142031;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.user-form input {
  border: 1px solid var(--border-color);
  background-color: #64748b;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border-radius: 0.3rem;
  color: #fff;
  font-family: inherit;
  width: 100%;
}
.user-form input:focus {
  outline: none;
}

.user-form input::placeholder {
  color: var(--input-font-color);
}

.user-form button {
  position: absolute;
  right: 1.5rem;
  font-size: 14px;
  border: 1px solid var(--border-color);
  border-radius: 0.3rem;
  background-color: #64748b;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
main {
  width: 350px;
  margin-top: 1rem;
}

.card {
  border: 3px solid var(--border-color);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: var(--assistant-color);
  box-shadow: 6px 10px 6px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}
.user-image {
  width: 150px;
  border-radius: 50%;
  border: 10px solid var(--main-color);
}
.user-info {
  padding: 1rem;
}

.user-name {
  border-bottom: 1px solid var(--border-color);
  line-height: 200%;
}
h2 {
  color: #fff;
  letter-spacing: 5px;
}
small {
  font-weight: bold;
  color: var(--input-font-color);
  letter-spacing: 1.5px;
}
p {
  color: #eee;
  text-align: center;
}
ul {
  padding: 1rem 0;
  display: flex;
  justify-content: space-evenly;
}

ul li {
  list-style-type: none;
  color: #fff;
  padding: 0.25rem 0px;
  margin: 0.4rem;
  border-radius: 3px;
  background-color: #40454e;
  display: flex;
  flex-direction: column;
}
.repos {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  font-size: 14px;
}

.repos a {
  text-decoration: none;
  color: #4696ff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
  letter-spacing: 2px;
  margin: 0.25rem;
}
.repos i {
  color: var(--input-font-color);
}
